<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.crispyxyz.wangran.mapper.EventMapper">

    <resultMap id="BaseResultMap" type="io.github.crispyxyz.wangran.model.Event">
            <id property="id" column="id" />
            <result property="eventCode" column="event_code" />
            <result property="eventName" column="event_name" />
            <result property="eventType" column="event_type" />
            <result property="eventTime" column="event_time" />
            <result property="city" column="city" />
            <result property="price" column="price" />
            <result property="stock" column="stock" />
            <result property="onShelf" column="on_shelf" />
            <result property="saleStartTime" column="sale_start_time" />
            <result property="saleEndTime" column="sale_end_time" />
            <result property="merchantId" column="merchant_id" />
            <result property="deleted" column="deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,event_code,event_name,event_type,event_time,city,
        price,stock,on_shelf,sale_start_time,sale_end_time,
        merchant_id,deleted
    </sql>
</mapper>
